
.app-html{
    height:100%;
}
.app-body{
    height: 100%;
    background-color: blue;
    margin: 0px;

}
.app-image{
    width:25%;
}
.app-content-main{
    background: orange;
    padding: 20px;
    width: 60%;
}
.app-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}